.header {
    position: fixed;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    width: 100%;
    height: 88px;
    left: 0.05px;
    top: 0px;
    background: #F6F5F4;
    box-shadow: inset 0px -1px 0px #E0E0E0;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: -0.04em;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    color: #000000;
}

.verline {
    padding-left: 30px;
    padding-right: 14px;
    color: #E0E0E0;
}

.nav {
    display: flex;
    align-items: center;
    justify-items: center;
}

.nav a {
    float: left;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}

.nav a:hover {
    color: #000000;
}

.topics {
    color: #757575;
    text-align: center;
    padding: 14px 16px;
}

.dropbtn {
    font-weight: 600;
    line-height: 140%;
    color: #757575;
    text-align: center;
    padding: 14px 16px;
    width: max-content;
}

.dropbtn:hover {
    color: #000000;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #828282;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    color: #333333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    position: absolute;
    width: 215px;
    height: 92px;
    top: 70.11px;
    background: #FFFFFF;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04), 0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    border-radius: 14px;
}

.header-right {
    display: flex;
    gap: 24px;
}

.loginbtn {
    width: max-content;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
}

.loginbtn:hover {
    color: #757575;
}

.signupbtn {
    float: left;
    width: 100px;
    height: 48px;
    background: #2B788B;
    border-radius: 17.0304px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.signupbtn:hover {
    background: #78b8c8;
    color: #000000;
}

.mobile-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.burger {
    display: none;
    font-size: 32px;
    width: 59.76px;
    color: #000000;
}

.mobile-logo {
    display: none;
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.user {
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    height: 60px;
}

.user-pic {
    height: 32px;
    width: 32px; 
    border-radius: 50%;
    background: #C3DCE3;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.04em;
    color: #2B788B;
}

.user-dropdown {
    float: left;
    overflow: hidden;
}

.user-name {
    width: max-content;
    font-weight: 600;
    line-height: 140%;
    color: #757575;
    padding: 4px;
}

.user-name:hover {
    color: #333333;
}   

.user-content {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 100px;
    height: 40px;
    top: 65px;
    background: #FFFFFF;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04), 0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    border-radius: 14px;
}

.user:hover .user-content {
    display: flex;
}

.user-content a {
    font-weight: 600;
    color: #828282;
}

.user-content a:hover {
    color: #333333;
}

@media only screen and (max-width: 700px) {
    .header {
        justify-content: center;
    }
    .nav {
        flex-direction: column;
        background: #F4F4F2;
        position: fixed;
        top: 88px;
        left: 0px;
        width: 100vw;
        height: calc(100vh - 88px);
        padding-top: 100px;
    }
    .dropdown:hover .dropdown-content {
        position: absolute;
        width: 135px;
        height: 92px;
        top: 300px;
    }
    .mobile-header {
        display: flex;
    }
    .burger {
        display: flex;
    }
    .mobile-logo {
        display: flex;
    }
    .user {
        display: flex;
    }
    .logo {
        display: none;
    }
    .verline {
        display: none;
    }
    .header-right {
        display: none;
    }
}