.pages {
    background: #F6F5F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    min-height: calc(100vh - 140px);
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    width: 90vw;
}